# directory names ending with / will be excluded from all IDEA modules (see ide.gradle)

gradle-local.properties
gpg/
.gradle/
build/
*.class
*.log
*.settings.xml

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
*.iml
*.ipr
*.iws
.idea/
out/

hs_err_pid*
_ignore*
