name: Publish to the Gradle Plugin Portal

on: [workflow_dispatch]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Configure Git for git-publish
        run: |
          git config --global user.name "CI Bot ($GITHUB_ACTOR)"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Publish Gradle Plugins
        run: ./gradlew assemble publishPlugins -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
