name: Publish to the Gradle Plugin Portal

on: [workflow_dispatch]

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          cache: gradle
          distribution: temurin
          java-version: 17
      - name: Create gradle.properties
        run: echo -e "gradle.publish.key=$GRADLE_PUBLISH_KEY\ngradle.publish.secret=$GRADLE_PUBLISH_SECRET" > gradle.properties
      - name: Build with Gradle
        run: ./gradlew build -x test publishPlugins
